In [31]:
import numpy as np
import matplotlib. pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [56]:

anz = pd.read_csv('/content/gdrive/My Drive/Colab Datasets/ANZ/ANZ.csv')
anz.head()
df=anz

In [5]:
anz_salaries = anz[anz["txn_description"]== "PAY/SALARY"].groupby("customer_id").mean()

In [7]:
salaries = []
for customer_id in anz["customer_id"]:
  salaries.append(int(anz_salaries.loc[customer_id]["amount"]))
anz["annual_salary"] = salaries

In [8]:
anz_cus = anz.groupby("customer_id").mean()
print("Mean annual salary by customer: ")
print(anz_cus.head(), "\n")

Mean annual salary by customer:
                card_present_flag  merchant_code  ...      amount  annual_salary
customer_id                                       ...
CUS-1005756958           0.812500            0.0  ...  222.862603            970
CUS-1117979751           0.826923            0.0  ...  339.843700           3578
CUS-1140341822           0.815385            0.0  ...  212.632500           1916
CUS-1147642491           0.750000            0.0  ...  245.600169           1711
CUS-1196156254           0.785276            0.0  ...  147.145796           3903

[5 rows x 6 columns]

In [10]:
train = int(len(anz_cus)*0.8)
print(train)

80

In [17]:
x = anz_cus.iloc[:, :-1].values
y = anz_cus.iloc[:, -1].values

In [18]:
print(x)

[[8.12500000e-01 0.00000000e+00 2.27585205e+03 5.30000000e+01
  2.22862603e+02]
 [8.26923077e-01 0.00000000e+00 9.82992900e+03 2.10000000e+01
  3.39843700e+02]
 [8.15384615e-01 0.00000000e+00 5.69921225e+03 2.80000000e+01
  2.12632500e+02]
 [7.50000000e-01 0.00000000e+00 9.03284119e+03 3.40000000e+01
  2.45600169e+02]
 [7.85276074e-01 0.00000000e+00 2.22724338e+04 3.40000000e+01
  1.47145796e+02]
 [7.50000000e-01 0.00000000e+00 8.47579600e+03 2.50000000e+01
  2.74614800e+02]
 [7.60000000e-01 0.00000000e+00 4.92385364e+03 4.40000000e+01
  2.36035000e+02]
 [8.61538462e-01 0.00000000e+00 5.00394051e+03 3.00000000e+01
  2.48545128e+02]
 [8.24675325e-01 0.00000000e+00 5.44833457e+03 2.00000000e+01
  1.09833216e+02]
 [7.40740741e-01 0.00000000e+00 5.55392947e+03 2.10000000e+01
  2.26721184e+02]
 [7.44186047e-01 0.00000000e+00 1.01627890e+04 5.20000000e+01
  4.18742468e+02]
 [7.92452830e-01 0.00000000e+00 6.21871147e+03 6.90000000e+01
  1.83139412e+02]
 [8.72727273e-01 0.00000000e+00 3.21367768e+03 2.40000000e+01
  1.00408774e+02]
 [8.28125000e-01 0.00000000e+00 1.33683705e+04 2.30000000e+01
  2.97510345e+02]
 [7.70491803e-01 0.00000000e+00 1.41568889e+04 3.80000000e+01
  3.04375604e+02]
 [8.00000000e-01 0.00000000e+00 1.99772980e+04 4.60000000e+01
  2.28021163e+02]
 [7.25274725e-01 0.00000000e+00 6.85028713e+03 3.80000000e+01
  1.57549180e+02]
 [8.60000000e-01 0.00000000e+00 5.66857958e+04 1.90000000e+01
  2.88629259e+02]
 [8.27272727e-01 0.00000000e+00 3.33142448e+03 4.00000000e+01
  7.44650193e+01]
 [7.97468354e-01 0.00000000e+00 5.76426016e+03 2.20000000e+01
  2.68989837e+02]
 [7.22772277e-01 0.00000000e+00 6.60907657e+03 2.00000000e+01
  1.67005904e+02]
 [1.00000000e+00 0.00000000e+00 5.42406415e+04 7.80000000e+01
  3.18977941e+02]
 [7.53246753e-01 0.00000000e+00 5.55127617e+03 2.60000000e+01
  1.92534870e+02]
 [8.98305085e-01 0.00000000e+00 2.85080705e+03 6.40000000e+01
  1.20311591e+02]
 [8.84393064e-01 0.00000000e+00 4.85974087e+03 2.50000000e+01
  1.00306783e+02]
 [7.85714286e-01 0.00000000e+00 4.51314880e+03 2.70000000e+01
  4.26108800e+02]
 [7.62711864e-01 0.00000000e+00 1.20517447e+04 3.90000000e+01
  1.97844028e+02]
 [7.61904762e-01 0.00000000e+00 6.54204042e+04 4.00000000e+01
  5.15583846e+02]
 [8.08823529e-01 0.00000000e+00 4.02443724e+03 1.80000000e+01
  1.26918878e+02]
 [7.14285714e-01 0.00000000e+00 7.57929155e+03 4.40000000e+01
  2.00197500e+02]
 [7.79069767e-01 0.00000000e+00 9.52584452e+03 3.50000000e+01
  1.67893548e+02]
 [8.15789474e-01 0.00000000e+00 6.99870836e+03 1.90000000e+01
  1.95940690e+02]
 [8.04878049e-01 0.00000000e+00 1.20716255e+04 4.00000000e+01
  3.14324298e+02]
 [8.55072464e-01 0.00000000e+00 3.58169519e+04 2.10000000e+01
  2.22325932e+02]
 [7.70491803e-01 0.00000000e+00 7.63609449e+03 3.10000000e+01
  1.79918814e+02]
 [8.96551724e-01 0.00000000e+00 1.18014238e+04 2.00000000e+01
  2.35262759e+02]
 [8.18840580e-01 0.00000000e+00 1.19129142e+03 3.80000000e+01
  7.82061056e+01]
 [6.95652174e-01 0.00000000e+00 1.41647929e+04 3.50000000e+01
  3.75681089e+02]
 [8.06201550e-01 0.00000000e+00 3.65148547e+03 2.50000000e+01
  1.08334459e+02]
 [8.48837209e-01 0.00000000e+00 2.03395667e+04 3.80000000e+01
  1.27645254e+02]
 [8.63636364e-01 0.00000000e+00 7.12755182e+03 2.20000000e+01
  1.92532273e+02]
 [8.33333333e-01 0.00000000e+00 1.18857449e+04 1.90000000e+01
  2.20852474e+02]
 [8.47222222e-01 0.00000000e+00 4.43550298e+03 4.10000000e+01
  1.54992231e+02]
 [8.23529412e-01 0.00000000e+00 2.63753766e+05 4.60000000e+01
  2.98604030e+02]
 [8.25581395e-01 0.00000000e+00 1.21407137e+04 3.90000000e+01
  2.31646906e+02]
 [8.57142857e-01 0.00000000e+00 5.99314583e+03 2.00000000e+01
  1.75425000e+02]
 [7.90960452e-01 0.00000000e+00 1.73512067e+03 2.60000000e+01
  4.53487716e+01]
 [1.00000000e+00 0.00000000e+00 9.74025786e+03 2.30000000e+01
  3.14383571e+02]
 [7.94117647e-01 0.00000000e+00 1.17479125e+04 4.00000000e+01
  2.91293333e+02]
 [8.14432990e-01 0.00000000e+00 3.39788379e+03 4.30000000e+01
  1.19057581e+02]
 [7.76119403e-01 0.00000000e+00 1.49735290e+04 2.90000000e+01
  2.74523358e+02]
 [1.00000000e+00 0.00000000e+00 7.14911017e+03 2.60000000e+01
  2.26913833e+02]
 [7.81250000e-01 0.00000000e+00 3.65310889e+03 3.50000000e+01
  2.17716296e+02]
 [8.06451613e-01 0.00000000e+00 3.94278736e+04 2.80000000e+01
  2.02785212e+02]
 [8.11881188e-01 0.00000000e+00 5.59298008e+03 2.00000000e+01
  1.59304186e+02]
 [7.88659794e-01 0.00000000e+00 2.86396008e+03 3.70000000e+01
  8.98743515e+01]
 [8.46153846e-01 0.00000000e+00 1.12867145e+04 3.50000000e+01
  5.67614500e+02]
 [7.85714286e-01 0.00000000e+00 1.11300798e+05 4.20000000e+01
  4.48658413e+02]
 [7.41935484e-01 0.00000000e+00 2.79107807e+04 5.00000000e+01
  3.07334318e+02]
 [7.86290323e-01 0.00000000e+00 5.85497736e+03 2.70000000e+01
  9.95696575e+01]
 [8.33333333e-01 0.00000000e+00 6.14913506e+04 3.30000000e+01
  1.64179137e+02]
 [7.31958763e-01 0.00000000e+00 3.69348022e+03 3.10000000e+01
  1.53332336e+02]
 [8.63013699e-01 0.00000000e+00 1.24717843e+04 4.30000000e+01
  2.61891411e+02]
 [8.88888889e-01 0.00000000e+00 3.78420778e+04 4.20000000e+01
  3.35183673e+02]
 [6.11111111e-01 0.00000000e+00 1.02143680e+04 1.90000000e+01
  4.89220980e+02]
 [8.14814815e-01 0.00000000e+00 6.13865254e+03 2.70000000e+01
  1.80891032e+02]
 [8.46153846e-01 0.00000000e+00 5.47388595e+03 3.70000000e+01
  3.92840811e+02]
 [6.45161290e-01 0.00000000e+00 3.86876728e+04 3.80000000e+01
  3.17661765e+02]
 [8.29268293e-01 0.00000000e+00 3.16358294e+03 2.10000000e+01
  1.68607423e+02]
 [7.14285714e-01 0.00000000e+00 3.03312187e+04 4.30000000e+01
  2.54994615e+02]
 [7.91666667e-01 0.00000000e+00 6.95352702e+03 2.20000000e+01
  3.33786596e+02]
 [9.09090909e-01 0.00000000e+00 4.15387339e+03 2.60000000e+01
  2.40685645e+02]
 [8.18181818e-01 0.00000000e+00 3.69277184e+03 2.00000000e+01
  1.45500426e+02]
 [8.18181818e-01 0.00000000e+00 1.08751310e+04 1.80000000e+01
  2.34624138e+02]
 [7.86069652e-01 0.00000000e+00 3.49316546e+03 2.40000000e+01
  8.75460000e+01]
 [7.85714286e-01 0.00000000e+00 1.67494250e+04 4.20000000e+01
  3.55400250e+02]
 [8.33333333e-01 0.00000000e+00 5.01611000e+03 2.20000000e+01
  2.78633818e+02]
 [7.75862069e-01 0.00000000e+00 4.63387338e+04 2.20000000e+01
  2.65134767e+02]
 [8.09523810e-01 0.00000000e+00 2.09797155e+03 1.80000000e+01
  1.59418454e+02]
 [8.46153846e-01 0.00000000e+00 5.45644136e+03 4.70000000e+01
  2.11213636e+02]
 [7.14285714e-01 0.00000000e+00 3.96775563e+03 4.20000000e+01
  1.83653000e+02]
 [7.77777778e-01 0.00000000e+00 9.00707613e+03 2.50000000e+01
  3.09047903e+02]
 [8.08695652e-01 0.00000000e+00 1.12469224e+04 2.80000000e+01
  1.56932249e+02]
 [7.41176471e-01 0.00000000e+00 5.21057537e+03 4.30000000e+01
  1.66508358e+02]
 [7.50000000e-01 0.00000000e+00 6.79563339e+03 3.40000000e+01
  2.10277299e+02]
 [8.22222222e-01 0.00000000e+00 4.66698679e+03 2.40000000e+01
  1.77745128e+02]
 [8.24427481e-01 0.00000000e+00 8.10173653e+03 1.90000000e+01
  9.96015294e+01]
 [5.55555556e-01 0.00000000e+00 5.75665790e+04 3.80000000e+01
  6.93632903e+02]
 [8.13559322e-01 0.00000000e+00 4.35695293e+03 3.00000000e+01
  1.67398152e+02]
 [7.50000000e-01 0.00000000e+00 4.35715431e+03 2.30000000e+01
  1.52435413e+02]
 [8.31683168e-01 0.00000000e+00 1.63858316e+04 2.40000000e+01
  1.00839958e+02]
 [8.37500000e-01 0.00000000e+00 1.98565144e+05 4.00000000e+01
  2.42010662e+02]
 [8.03571429e-01 0.00000000e+00 5.80077316e+03 2.10000000e+01
  1.54711842e+02]
 [7.35294118e-01 0.00000000e+00 7.03147018e+03 3.00000000e+01
  4.97669474e+02]
 [7.97297297e-01 0.00000000e+00 4.02685029e+03 1.80000000e+01
  1.68848039e+02]
 [8.66666667e-01 0.00000000e+00 4.49755707e+03 3.50000000e+01
  1.97213276e+02]
 [7.95454545e-01 0.00000000e+00 3.75690290e+03 2.10000000e+01
  1.51694274e+02]
 [7.91262136e-01 0.00000000e+00 3.46227601e+03 3.00000000e+01
  7.76818884e+01]
 [8.57142857e-01 0.00000000e+00 8.52883038e+03 2.60000000e+01
  1.46954487e+02]
 [7.83333333e-01 0.00000000e+00 9.87745270e+03 1.90000000e+01
  2.05839382e+02]]

In [19]:
print(y)

[ 970 3578 1916 1711 3903 2282  596 1158 1138 2023 3785 1043 1408 3903
 3649 2470 2500 2854  892 3328 1395  782 1098  576 1225 4863 3071 8835
  761 2887 2308 2485 2280 1560 2886 3026 1002 2443 6107 1541 2218 2639
 2101 2179 5103 1640 1013 1626 1946 1630 4405  920  862 4054 2320  917
 2544 3231 1436 2840 2718  996 2588 1757 3676 1396  916 1880 2306  664
  983 1843 1099 4132 1059 1757 1928 3195 1537 1272 1681 2687 2538 1068
 3517 3712  990 2647 4910  982 6024 4216 2572 1636 1952  725 1037 1808
 1433 3977]

In [20]:
anz_cus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, CUS-1005756958 to CUS-883482547
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   card_present_flag  100 non-null    float64
 1   merchant_code      100 non-null    float64
 2   balance            100 non-null    float64
 3   age                100 non-null    int64
 4   amount             100 non-null    float64
 5   annual_salary      100 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 10.5+ KB

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.33,random_state=42)

In [27]:
print(x_train)

[[8.08823529e-01 0.00000000e+00 4.02443724e+03 1.80000000e+01
  1.26918878e+02]
 [7.35294118e-01 0.00000000e+00 7.03147018e+03 3.00000000e+01
  4.97669474e+02]
 [7.50000000e-01 0.00000000e+00 8.47579600e+03 2.50000000e+01
  2.74614800e+02]
 [8.46153846e-01 0.00000000e+00 5.47388595e+03 3.70000000e+01
  3.92840811e+02]
 [8.14814815e-01 0.00000000e+00 6.13865254e+03 2.70000000e+01
  1.80891032e+02]
 [8.96551724e-01 0.00000000e+00 1.18014238e+04 2.00000000e+01
  2.35262759e+02]
 [7.25274725e-01 0.00000000e+00 6.85028713e+03 3.80000000e+01
  1.57549180e+02]
 [8.14432990e-01 0.00000000e+00 3.39788379e+03 4.30000000e+01
  1.19057581e+02]
 [7.70491803e-01 0.00000000e+00 7.63609449e+03 3.10000000e+01
  1.79918814e+02]
 [8.61538462e-01 0.00000000e+00 5.00394051e+03 3.00000000e+01
  2.48545128e+02]
 [8.66666667e-01 0.00000000e+00 4.49755707e+03 3.50000000e+01
  1.97213276e+02]
 [7.61904762e-01 0.00000000e+00 6.54204042e+04 4.00000000e+01
  5.15583846e+02]
 [7.97468354e-01 0.00000000e+00 5.76426016e+03 2.20000000e+01
  2.68989837e+02]
 [7.77777778e-01 0.00000000e+00 9.00707613e+03 2.50000000e+01
  3.09047903e+02]
 [7.85714286e-01 0.00000000e+00 4.51314880e+03 2.70000000e+01
  4.26108800e+02]
 [8.63013699e-01 0.00000000e+00 1.24717843e+04 4.30000000e+01
  2.61891411e+02]
 [8.28125000e-01 0.00000000e+00 1.33683705e+04 2.30000000e+01
  2.97510345e+02]
 [8.84393064e-01 0.00000000e+00 4.85974087e+03 2.50000000e+01
  1.00306783e+02]
 [7.50000000e-01 0.00000000e+00 9.03284119e+03 3.40000000e+01
  2.45600169e+02]
 [8.60000000e-01 0.00000000e+00 5.66857958e+04 1.90000000e+01
  2.88629259e+02]
 [8.06201550e-01 0.00000000e+00 3.65148547e+03 2.50000000e+01
  1.08334459e+02]
 [8.24675325e-01 0.00000000e+00 5.44833457e+03 2.00000000e+01
  1.09833216e+02]
 [8.09523810e-01 0.00000000e+00 2.09797155e+03 1.80000000e+01
  1.59418454e+02]
 [7.60000000e-01 0.00000000e+00 4.92385364e+03 4.40000000e+01
  2.36035000e+02]
 [6.11111111e-01 0.00000000e+00 1.02143680e+04 1.90000000e+01
  4.89220980e+02]
 [8.18840580e-01 0.00000000e+00 1.19129142e+03 3.80000000e+01
  7.82061056e+01]
 [7.50000000e-01 0.00000000e+00 4.35715431e+03 2.30000000e+01
  1.52435413e+02]
 [8.46153846e-01 0.00000000e+00 1.12867145e+04 3.50000000e+01
  5.67614500e+02]
 [7.83333333e-01 0.00000000e+00 9.87745270e+03 1.90000000e+01
  2.05839382e+02]
 [8.11881188e-01 0.00000000e+00 5.59298008e+03 2.00000000e+01
  1.59304186e+02]
 [8.23529412e-01 0.00000000e+00 2.63753766e+05 4.60000000e+01
  2.98604030e+02]
 [7.76119403e-01 0.00000000e+00 1.49735290e+04 2.90000000e+01
  2.74523358e+02]
 [6.45161290e-01 0.00000000e+00 3.86876728e+04 3.80000000e+01
  3.17661765e+02]
 [7.90960452e-01 0.00000000e+00 1.73512067e+03 2.60000000e+01
  4.53487716e+01]
 [8.29268293e-01 0.00000000e+00 3.16358294e+03 2.10000000e+01
  1.68607423e+02]
 [7.31958763e-01 0.00000000e+00 3.69348022e+03 3.10000000e+01
  1.53332336e+02]
 [7.91262136e-01 0.00000000e+00 3.46227601e+03 3.00000000e+01
  7.76818884e+01]
 [8.46153846e-01 0.00000000e+00 5.45644136e+03 4.70000000e+01
  2.11213636e+02]
 [8.33333333e-01 0.00000000e+00 1.18857449e+04 1.90000000e+01
  2.20852474e+02]
 [7.41935484e-01 0.00000000e+00 2.79107807e+04 5.00000000e+01
  3.07334318e+02]
 [7.94117647e-01 0.00000000e+00 1.17479125e+04 4.00000000e+01
  2.91293333e+02]
 [8.57142857e-01 0.00000000e+00 8.52883038e+03 2.60000000e+01
  1.46954487e+02]
 [7.85714286e-01 0.00000000e+00 1.11300798e+05 4.20000000e+01
  4.48658413e+02]
 [7.85714286e-01 0.00000000e+00 1.67494250e+04 4.20000000e+01
  3.55400250e+02]
 [8.04878049e-01 0.00000000e+00 1.20716255e+04 4.00000000e+01
  3.14324298e+02]
 [7.97297297e-01 0.00000000e+00 4.02685029e+03 1.80000000e+01
  1.68848039e+02]
 [7.86290323e-01 0.00000000e+00 5.85497736e+03 2.70000000e+01
  9.95696575e+01]
 [8.88888889e-01 0.00000000e+00 3.78420778e+04 4.20000000e+01
  3.35183673e+02]
 [7.50000000e-01 0.00000000e+00 6.79563339e+03 3.40000000e+01
  2.10277299e+02]
 [6.95652174e-01 0.00000000e+00 1.41647929e+04 3.50000000e+01
  3.75681089e+02]
 [7.14285714e-01 0.00000000e+00 7.57929155e+03 4.40000000e+01
  2.00197500e+02]
 [8.26923077e-01 0.00000000e+00 9.82992900e+03 2.10000000e+01
  3.39843700e+02]
 [7.81250000e-01 0.00000000e+00 3.65310889e+03 3.50000000e+01
  2.17716296e+02]
 [1.00000000e+00 0.00000000e+00 5.42406415e+04 7.80000000e+01
  3.18977941e+02]
 [8.15384615e-01 0.00000000e+00 5.69921225e+03 2.80000000e+01
  2.12632500e+02]
 [8.98305085e-01 0.00000000e+00 2.85080705e+03 6.40000000e+01
  1.20311591e+02]
 [5.55555556e-01 0.00000000e+00 5.75665790e+04 3.80000000e+01
  6.93632903e+02]
 [8.37500000e-01 0.00000000e+00 1.98565144e+05 4.00000000e+01
  2.42010662e+02]
 [7.86069652e-01 0.00000000e+00 3.49316546e+03 2.40000000e+01
  8.75460000e+01]
 [8.24427481e-01 0.00000000e+00 8.10173653e+03 1.90000000e+01
  9.96015294e+01]
 [8.08695652e-01 0.00000000e+00 1.12469224e+04 2.80000000e+01
  1.56932249e+02]
 [7.22772277e-01 0.00000000e+00 6.60907657e+03 2.00000000e+01
  1.67005904e+02]
 [8.33333333e-01 0.00000000e+00 6.14913506e+04 3.30000000e+01
  1.64179137e+02]
 [9.09090909e-01 0.00000000e+00 4.15387339e+03 2.60000000e+01
  2.40685645e+02]
 [7.70491803e-01 0.00000000e+00 1.41568889e+04 3.80000000e+01
  3.04375604e+02]
 [8.03571429e-01 0.00000000e+00 5.80077316e+03 2.10000000e+01
  1.54711842e+02]
 [1.00000000e+00 0.00000000e+00 7.14911017e+03 2.60000000e+01
  2.26913833e+02]]

In [28]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [30]:
y_predict = lr.predict(x_test)
y_predict

array([1579.06958257, 2373.79014954, 2870.79171195, 2219.00883308,
       1890.00847637, 1544.80542819, 2235.87512156, 1710.40712881,
       2286.01512558, 1333.55480584, 1180.6010976 , 1827.89241415,
       2609.39616373, 2586.04221885, 1908.53752333, 1863.93999294,
       2580.57384817, 2913.00704427, 1750.22067172, 2401.31080922,
       1395.58035669, 1905.08294833, 1852.31269234, 1437.41847076,
       2144.10265067, 1735.57179623, 2216.61130658, 2169.46317335,
       2555.25377071, 2144.60074394,  700.156003  , 2470.46918813,
       2136.1866193 ])

In [35]:
anz_cus.head()

                card_present_flag  merchant_code  ...      amount  annual_salary
customer_id                                       ...
CUS-1005756958           0.812500            0.0  ...  222.862603            970
CUS-1117979751           0.826923            0.0  ...  339.843700           3578
CUS-1140341822           0.815385            0.0  ...  212.632500           1916
CUS-1147642491           0.750000            0.0  ...  245.600169           1711
CUS-1196156254           0.785276            0.0  ...  147.145796           3903

[5 rows x 6 columns]

In [36]:
anz_cus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, CUS-1005756958 to CUS-883482547
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   card_present_flag  100 non-null    float64
 1   merchant_code      100 non-null    float64
 2   balance            100 non-null    float64
 3   age                100 non-null    int64
 4   amount             100 non-null    float64
 5   annual_salary      100 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 10.5+ KB

In [34]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [51]:
#split dataset in features and target variable
cat_cols = ['txn_description','gender', 'age', 'merchant_state', 'movement']
x = anz[cat_cols] 
y = anz.annual_salary # Target variable

In [52]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [55]:
x_train.drop()

      txn_description gender  age merchant_state movement
11395         PAYMENT      F   35            NaN    debit
8952       PAY/SALARY      F   43            NaN   credit
5746       PAY/SALARY      F   50            NaN   credit
8009       PAY/SALARY      M   42            NaN   credit
3583              POS      F   18             WA    debit
...               ...    ...  ...            ...      ...
7813       INTER BANK      F   24            NaN    debit
10955         PAYMENT      M   44            NaN    debit
905               POS      M   24            VIC    debit
5192        SALES-POS      F   27             SA    debit
235        PAY/SALARY      M   37            NaN   credit

[8430 rows x 5 columns]

In [43]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.0

In [58]:
df_salaries = df[df["txn_description"] == "PAY/SALARY"].groupby("customer_id").mean()

salaries = []
for customer_id in df["customer_id"]:
    salaries.append(int(df_salaries.loc[customer_id]["amount"]))
df["annual_salary"] = salaries

df_cus = df.groupby("customer_id").mean()
print("Mean annual salary by customer: ")
print(df_cus.head(), "\n")

# PREDICTIVE ANALYTICS:
# Linear regression
print("LINEAR REGRESSION:\n")
N_train = int(len(df_cus)*0.8)
X_train = df_cus.drop("annual_salary", axis=1).iloc[:N_train]
Y_train = df_cus["annual_salary"].iloc[:N_train]
X_test = df_cus.drop("annual_salary", axis=1).iloc[N_train:]
Y_test = df_cus["annual_salary"].iloc[N_train:]

linear_reg = LinearRegression()
linear_reg.fit(X_train, Y_train)
print(f"Linear Regression Training Score: {linear_reg.score(X_train, Y_train)}\n")

print("Predictions using test data:")
print(linear_reg.predict(X_test), "\n")

print(f"Linear Regression Testing Score: {linear_reg.score(X_test, Y_test)}\n")

Mean annual salary by customer:
                card_present_flag  merchant_code  ...      amount  annual_salary
customer_id                                       ...
CUS-1005756958           0.812500            0.0  ...  222.862603            970
CUS-1117979751           0.826923            0.0  ...  339.843700           3578
CUS-1140341822           0.815385            0.0  ...  212.632500           1916
CUS-1147642491           0.750000            0.0  ...  245.600169           1711
CUS-1196156254           0.785276            0.0  ...  147.145796           3903

[5 rows x 6 columns]

LINEAR REGRESSION:

Linear Regression Training Score: 0.23295376366257825

Predictions using test data:
[1993.98473311 2867.39066481 1944.95959591 1806.85984885 2226.35045442
 2075.34697175 1813.02987337 5388.67435983 1902.35351608 2191.90445145
 1713.48134178 2854.40519949 2094.77781158 3815.34342881 2249.92922822
 1768.80816189 2095.02988288 1515.18425875 1782.72752537 2481.2898546 ]

Linear Regression Testing Score: -0.3169423498074748

In [59]:
# Decision tree - classification and regression
# Categorical columns
df_cat = df[["txn_description", "gender", "age", "merchant_state", "movement"]]
# Changing all categories to dummies
pd.get_dummies(df_cat).head()

N_train = int(len(df)*0.8)
X_train = pd.get_dummies(df_cat).iloc[:N_train]
Y_train = df["annual_salary"].iloc[:N_train]
X_test = pd.get_dummies(df_cat).iloc[N_train:]
Y_test = df["annual_salary"].iloc[N_train:]

# Classification
print("DECISION TREE - CLASSIFIER:\n")
decision_tree_class = DecisionTreeClassifier()
decision_tree_class.fit(X_train, Y_train)
print(f"Decision Tree Classifier Training Score: {decision_tree_class.score(X_train, Y_train)}\n")

print("Predictions using test data:")
print(decision_tree_class.predict(X_test), "\n")

print(f"Decision Tree Classifier Testing Score: {decision_tree_class.score(X_test, Y_test)}\n")

DECISION TREE - CLASSIFIER:

Decision Tree Classifier Training Score: 0.7882499481004774

Predictions using test data:
[1013 1043 4132 ... 4054 1043  996]

Decision Tree Classifier Testing Score: 0.755085097550851

In [61]:
# Regression
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
print("DECISION TREE - REGRESSOR:\n")
decision_tree_reg = DecisionTreeRegressor()
decision_tree_reg.fit(X_train, Y_train)
print(f"Decision Tree Regressor Training Score: {decision_tree_reg.score(X_train, Y_train)}\n")

print("Predictions using test data:")
print(decision_tree_reg.predict(X_test), "\n")

print(f"Decision Tree Regressor Testing Score: {decision_tree_reg.score(X_test, Y_test)}\n")

input("Press ENTER to exit: ")

DECISION TREE - REGRESSOR:

Decision Tree Regressor Training Score: 0.7468978726536879

Predictions using test data:
[1226.42857143 1043.         4132.         ... 3345.04761905 1043.
 1626.        ]

Decision Tree Regressor Testing Score: 0.6805574585151664

Press ENTER to exit:

''